{% extends 'layout.html' %}

{% block body %}

<div class="row mt-5">
    <div class="col-2"></div>
    <div class="col-8">
        <h4>Show Note</h4>

        <div class="mt-5">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Note One</h1>
                    <p class="lead">Priority</p>
                    <p class="lead">Create Date</p>
                    <p class="lead">Body</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

{% endblock %}